body {
    background: #13161a;
    background-color: #13161a;
  }
  
  .slides .footer {
    display: none;
  }
  
  .main .frame {
    position: absolute;
    text-align: left;
    font-size: 22px;
  }
  
  .main .frame img {
    margin: 0;
    background: transparent;
    border: none;
    box-shadow: 0 0;
  }
  
  .main .xtop {
    height: 60px;
  }
  
  .main .xcenter {
    height: 200px
  }
  
  .main .xbottom {
    height: 400px
  }
  
  .main .block-container {
    width: 32%;
    display: inline-block;
    text-align: -webkit-center;
    position: relative;
  }
  
  .main .block {
    height: 160px;
    width: 160px;
    background-size: 160px 160px;
  }
  
  .main .block.small {
    height: 80px;
    width: 80px;
    background-size: 80px 80px;
  }
  
  .main .midi {
    height: 160px;
    width: 160px;
    background-size: 160px 60px;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .main .popup {
    position: absolute;
    top: -50px;
    left: 50%;
    margin-left: -80px;
  }

  .main .excl {
    height: 60px;
    width: 60px;
    background-size: 60px 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../images/excl00.png');
    position: absolute;
    top: 40px;
    right: 50px;
  }
  
  .main .line1 {
    width: 178px;
    height: 3px;
    border-bottom: 3px solid red;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(15deg);
    position: absolute;
    top: 140px;
    left: -89px;
  }
  
  .main .line2 {
    width: 134px;
    height: 3px;
    border-bottom: 3px solid red;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(90deg);
    position: absolute;
    top: 57px;
    left: 86px;
  }
  
  .main .line3 {
    width: 178px;
    height: 3px;
    border-bottom: 3px solid red;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(-15deg);
    position: absolute;
    top: 140px;
    right: -89px;
  }
  
  .main .line1-grey {
    width: 214px;
    height: 3px;
    border-bottom: 3px solid grey;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(30deg);
    position: absolute;
    top: 75px;
    left: -107px;
  }

  .main .line3-grey {
    width: 214px;
    height: 3px;
    border-bottom: 3px solid grey;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(-30deg);
    position: absolute;
    top: 75px;
    right: -110px;
  }
  
  .main .line1-blue {
    width: 178px;
    height: 3px;
    border-bottom: 3px solid #0E7E99;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(15deg);
    position: absolute;
    top: 140px;
    left: -89px;
  }

  .main .line2-blue {
    width: 172px;
    height: 3px;
    border-bottom: 3px solid #0E7E99;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(90deg);
    position: absolute;
    top: 18px;
    left: 69px;
  }

  .main .line3-blue {
    width: 178px;
    height: 3px;
    border-bottom: 3px solid #0E7E99;
    -webkit-transform: translateY(-50px) translateX(0px) rotate(-15deg);
    position: absolute;
    top: 140px;
    right: -89px;
  }
  
  .main .priv {
    height: 70px;
    width: 70px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/privacy01.png);
    position: absolute;
    top: 20px;
    left: -30px;
  }
  
  .main .vat {
    height: 70px;
    width: 70px;
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/vat01.png);
    position: absolute;
    top: 100px;
    left: -30px;
  }
  
  /*********************************************
  * NAVIGATION CONTROLS
   *********************************************/
  .reveal .controls {
    color: #e70000;
  }